@import "assets/theme/colors";

img{
  min-width: 253px;
  min-height: 160px;
}

.mainContainer{
  height: 100vh;
  overflow: auto;
  display: flex;
  gap: 300px;
  align-items: center;
  flex-direction: column;
  background: var(--background);
  animation: showMain 1s linear forwards;
}
.blockContainer{
  overflow: hidden;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: showContainer 0.5s linear forwards;
  gap: 50px;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  .headerContainer{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: relative;
    z-index: 9;
    align-items: center;
    justify-content: center;
    .header{
      text-align: center;
      width: 100%;
      font-weight: 600;
      font-size: 80px;
      color: var(--font);
    }
  }
}

//style for scrollbar
.mainContainer{
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--component);
    border-radius: 10px;
    margin: 0 2px;
  }
}

//for first .blockContainer
.firstContainer{
  position: relative;
}

//for last .blockContainer
.lastContainer{
  margin-bottom: 0;
}

//my skills container
.skillsContainer{
  display: flex;
  gap: 10px;
  width: 30%;
  min-width: 300px;
  .skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .skillName{
      font-weight: 500;
      font-size: 26px;
      color: var(--font);
    }
  }
}

//about me container
.aboutMeBlock{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

//ICONS
.notebook{
  position: fixed;
  z-index: 1;
  overflow: hidden;
  right: 0;
  top: 100px;
  stroke: var(--component);
  fill: var(--component);
  animation: showRightIcon 1s linear forwards;
}

  .backpack{
  position: fixed;
  z-index: 1;
  bottom: 50px;
  left: 0;
  stroke: var(--component);
  //animation: iconMove 3s linear infinite, showLeftIcon 1s linear forwards;
  animation: iconMove 3s linear forwards;
}

.CockroachFirst{
  position: fixed;
  z-index: 1;
  bottom: 0;
  stroke: var(--component);
  left: 0;
  animation: cockRoachShakingFirst 1s linear infinite, cockRoachFirst 20s linear forwards;
}

.CockroachSecond{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  fill: var(--component);
  animation: cockRoachShakingSecond 1s linear infinite, cockRoachSecond 15s linear forwards;
}

.converter{
  position: absolute;
  left: -500px;
  top: 0;
  animation: converter 1s linear forwards, iconMove 3s linear infinite;
}

.currency{
  position: absolute;
  bottom: 0;
  right: -500px;
  animation: currency 1s linear forwards, iconMove 3s linear infinite;
}

.profile{
  position: absolute;
  animation: currency 1s linear forwards, iconMove 3s linear infinite;
}

.movie{
  position: absolute;
  animation: converter 1s linear forwards, iconMove 3s linear infinite;
}

.cap{
  position: fixed;
  z-index: 1;
  height: 300px;
  width: 400px;
  animation: iconMove 3s linear infinite, captLeftIcon 1s linear forwards;
}

.acceptIcon{

}

.light{
  position: fixed;
  opacity: 1;
  z-index: 0;
  bottom: 0;
  animation: iconMove 3s linear infinite, lightRightIcon 1s linear forwards;
}

.profileIcon{
  position: fixed;
  bottom: -50px;
  animation: profileMoveTopBottom 3s linear infinite, profileMoveRight 1s linear forwards, profileMove 50s linear infinite;
}

//navigation buttons
.navButtons{
  position: fixed;
  left: 20px;
  top: calc(50% - 115px);
  z-index: 9999;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .navButton{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    height: 20px;
    width: 20px;
    color: transparent;
    background: var(--componentHover);
    transition: 0.3s;
    &:hover{
      background: var(--font);
      transform: scale(1.3);
    }
  }
  .activeNavButton{
    height: 30px;
    width: 30px;
  }
}


//swipes container
.swipes{
  position: absolute;
  z-index: 99;
  top: 0;
  right: -200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: swiperShow 0.5s linear forwards;
  .swiper{
    display: flex;
    gap: 17px;
    align-items: center;
    span{
      min-width: 100px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--font);
    }
    .swiperBorder{
      height: 23px;
      width: 41px;
      border: 1px solid var(--component);
      background: transparent;
      border-radius: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .swiperCircle{
        transition: 0.3s;
        position: relative;
        left: 0;
        background: var(--component);
        height: 17px;
        width: 17px;
        margin: 3px;
        border-radius: 50px;
      }
    }
  }
}

//button container
.buttonContainer{
  position: relative;
  &:hover{
    .button{
      border: 2px solid var(--componentHover);
      span{
        color: var(--componentHover);
      }
    }
    .topStick{
      left: 70px;
    }
    .bottomStick{
      right: 80px;
    }
  }
  .topStick{
    position: absolute;
    height: 20px;
    background: var(--background);
    bottom: 16px;
    left: 10px;
    width: 5px;
    transform: rotate(133.79deg);
    transition: left 0.3s;
  }
  .bottomStick{
    position: absolute;
    height: 20px;
    background: var(--background);
    bottom: -16px;
    right: 20px;
    width: 5px;
    transform: rotate(47.29deg);
    transition: right 0.3s;
  }
  .button{
    text-decoration: none;
    border: 2px solid var(--component);
    border-radius: 4px;
    height: 28px;
    text-align: center;
    padding: 5px;
    color: var(--component);
    transition: all 0.3s;
    span{
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      color: #51557E;
      transition: ease-in-out 0.3s;
    }
  }
}

//body block
.body{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;
  .description{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--font);
    text-align: center;
  }
}

//span, h1, ul, li
.code{
  font-weight: 100;
  font-size: 25px;
  line-height: 30px;
  color: var(--semiFont);
}

.first{
}

.second{
  text-align: end;
}

//animations
@keyframes profileMoveTopBottom {
  0%{
    bottom: -50px;
  }
  50%{
    bottom: -10px;
  }
  100%{
    bottom: -50px;
  }
}
@keyframes profileMove {
  0%{
    right: 0;
  }
  50%{
    right: 90%;
  }
  100%{
    right: 0;
  }
}
@keyframes profileMoveRight {
  from{
    right: -500px;
  }
  to{
    right: 0;
  }
}

@keyframes lightRightIcon {
  from{
    right: -1000px;
  }
  to{
    right: 0;
  }
}
@keyframes captLeftIcon {
  from{
    left: -1000px;
  }
  to{
    left: 0;
    top: 0;
  }
}

@keyframes converter {
  from{
    left: -500px;
    top: 0;
  }
  to{
    left: 0;
    top: 0;
  }
}
@keyframes currency {
  from{
    bottom: 0;
    right: -500px;
  }
  to{
    bottom: 0;
    right: 0;
  }
}

@keyframes cockRoachFirst {
  from{
    left: 0;
    bottom: 0;
  }
  to{
    left: 90%;
    bottom: 50%;
  }
}
@keyframes cockRoachSecond {
  from{
    right: 0;
    top: 0;
  }
  to{
    right: 90%;
    top: 50%;
  }
}
@keyframes cockRoachShakingFirst {
  0%{
    transform: rotate(15deg);
  }
  50%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(15deg);
  }
}
@keyframes cockRoachShakingSecond {
  0%{
    transform: rotate(195deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(195deg);
  }
}

@keyframes swiperShow {
  from{
    right: -200px;
  }
  to{
    right: 20px;
  }
}

@keyframes showContainer {
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showMain {
  from{
    background: black;
  }
  to{
    background: var(--background);
  }
}

@keyframes iconMove {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(25px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes showRightIcon {
  from{
    right: -300px;
  }
  to{
    right: 0;
  }
}
@keyframes showLeftIcon {
  from{
    left: -300px;
  }
  to{
    left: -0;
  }
}

@media (max-width: 1000px){

  .mainContainer{
    height: 100vh;
    overflow: auto;
    display: flex;
    gap: 300px;
    align-items: center;
    flex-direction: column;
    background: var(--background);
    animation: showMain 1s linear forwards;
  }
  .blockContainer{
    overflow: hidden;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: showContainer 0.5s linear forwards;
    gap: 50px;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    .headerContainer{
      width: 100%;
      display: flex;
      gap: 30px;
      flex-direction: column;
      position: relative;
      z-index: 9;
      align-items: center;
      justify-content: center;
      .header{
        text-align: center;
        width: 100%;
        font-weight: 600;
        font-size: 60px;
        color: var(--font);
      }
    }
  }

  .notebook,
  .backpack,
  .converter,
  .currency,
  .profile,
  .movie,
  .cap,
  .light,
  .profileIcon{
    height: 200px;
    width: 200px;
    opacity: 0.3;
  }
  .CockroachFirst,
  .CockroachSecond{
    height: 100px;
    width: 100px;
  }
  .navButtons{
    display: none;
  }
}

@media (max-width: 550px) {
  .mainContainer{
    height: 100vh;
    overflow: auto;
    display: flex;
    gap: 300px;
    align-items: center;
    flex-direction: column;
    background: var(--background);
    animation: showMain 1s linear forwards;
  }
  .blockContainer{
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    animation: showContainer 0.5s linear forwards;
    gap: 50px;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    .headerContainer{
      width: 100%;
      display: flex;
      gap: 30px;
      flex-direction: column;
      position: relative;
      z-index: 9;
      align-items: center;
      justify-content: center;
      .header{
        text-align: center;
        width: 100%;
        font-weight: 600;
        font-size: 50px;
        color: var(--font);
      }
    }
  }

}

@media (max-width: 440px) {
  .mainContainer{
  }
  .blockContainer{
    padding: 0 10px;
    .headerContainer{

      .header{
        font-size: 30px;
      }
    }
  }

}