.blockContainer{
  margin-top: 100px;
  overflow: hidden;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: showContainer 0.5s linear forwards;
  gap: 50px;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  .headerContainer{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: relative;
    z-index: 9;
    align-items: center;
    justify-content: center;
    .header{
      text-align: center;
      width: 100%;
      font-weight: 600;
      font-size: 50px;
      color: var(--font);
    }
  }
}

.body{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;
  .description{
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: var(--font);
    text-align: center;
  }
}

.aboutMeBlock{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 15px;
}
.descriptionAboutme{
  margin-left: 15px;
}

.code{
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  color: var(--semiFont);
}

.profileIcon{
  position: absolute;
  animation: profileMoveTopBottom 3s linear infinite, profileMoveRight 1s linear forwards, profileMove 50s linear infinite;
}

@keyframes profileMoveTopBottom {
  0%{
    bottom: -50px;
  }
  50%{
    bottom: -10px;
  }
  100%{
    bottom: -50px;
  }
}
@keyframes profileMove {
  0%{
    right: 0;
  }
  50%{
    right: 90%;
  }
  100%{
    right: 0;
  }
}

@media (max-width: 900px) {
  .profileIcon{
    opacity: 0.5;
  }
}